In [21]:
import pandas as pd

### Import infogreffe data

In [25]:
# import bilan depuis infogreffe
data = pd.read_csv('data.csv',delimiter=';', error_bad_lines=False)

/Users/florianniclause/.pyenv/versions/3.8.6/envs/carbonproject/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,15,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230967 entries, 0 to 1230966
Data columns (total 41 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Dénomination                1230966 non-null  object
 1   Siren                       1230966 non-null  object
 2   Nic                         1230478 non-null  float64
 3   Forme Juridique             1230895 non-null  object
 4   Code APE                    1204715 non-null  object
 5   Libellé APE                 1204695 non-null  object
 6   Adresse                     1221204 non-null  object
 7   Code postal                 1229744 non-null  float64
 8   Ville                       1229959 non-null  object
 9   Num. dept.                  1229629 non-null  float64
 10  Département                 1213670 non-null  object
 11  Région                      1213633 non-null  object
 12  Code Greffe                 1230217 non-null  float64
 13  Greffe                      1230202 non-null  object
 14  Date immatriculation        1230118 non-null  object
 15  Date radiation              1 non-null        object
 16  Statut                      1230092 non-null  object
 17  Geolocalisation             0 non-null        float64
 18  Date de publication         1230023 non-null  object
 19  Millesime 1                 1229977 non-null  float64
 20  Date de cloture exercice 1  1229958 non-null  object
 21  Durée 1                     1229928 non-null  float64
 22  CA 1                        518006 non-null   float64
 23  Résultat 1                  531497 non-null   float64
 24  Effectif 1                  137589 non-null   float64
 25  Millesime 2                 1063947 non-null  float64
 26  Date de cloture exercice 2  1063984 non-null  object
 27  Durée 2                     1063734 non-null  float64
 28  CA 2                        504135 non-null   float64
 29  Résultat 2                  509549 non-null   float64
 30  Effectif 2                  199883 non-null   float64
 31  Millesime 3                 961116 non-null   object
 32  Date de cloture exercice 3  961125 non-null   object
 33  Durée 3                     960665 non-null   float64
 34  CA 3                        562615 non-null   float64
 35  Résultat 3                  567048 non-null   float64
 36  Effectif 3                  233101 non-null   float64
 37  fiche_identite              1230966 non-null  object
 38  tranche_ca_millesime_1      1229924 non-null  object
 39  tranche_ca_millesime_2      1229869 non-null  object
 40  tranche_ca_millesime_3      1229809 non-null  object
dtypes: float64(19), object(22)
memory usage: 385.1+ MB

In [27]:
data.head(3)

,Dénomination,Siren,Nic,Forme Juridique,Code APE,Libellé APE,Adresse,Code postal,Ville,Num. dept.,...,Millesime 3,Date de cloture exercice 3,Durée 3,CA 3,Résultat 3,Effectif 3,fiche_identite,tranche_ca_millesime_1,tranche_ca_millesime_2,tranche_ca_millesime_3
0,SARL DES CHARDONS,381155894,29.0,Societe a responsabilite limitee,6820B,Location de terrains et d'autres biens immobil...,130 ROUTE DES BONS MOLARDS,74410.0,ST JORIOZ,74.0,...,2015.0,2015-12-31,12.0,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,A - de 32K,A - de 32K,A - de 32K
1,CLUB HIPPIQUE DE L'HERMITAGE,401559158,27.0,Societe a responsabilite limitee,0143Z,Elevage de chevaux et d'autres equides,CHEMIN DE L HERMITAGE,97434.0,ST PAUL,974.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,A - de 32K,A - de 32K,A - de 32K
2,BPC,423320969,11.0,Societe a responsabilite limitee,6420Z,Activites des societes holding,PLACE DU PAISY,69570.0,DARDILLY,69.0,...,2015.0,2015-12-31,12.0,0.0,38505.0,0.0,https://www.infogreffe.fr/infogreffe/ficheIden...,A - de 32K,A - de 32K,A - de 32K

In [28]:
data.columns

Index(['Dénomination', 'Siren', 'Nic', 'Forme Juridique', 'Code APE',
       'Libellé APE', 'Adresse', 'Code postal', 'Ville', 'Num. dept.',
       'Département', 'Région', 'Code Greffe', 'Greffe',
       'Date immatriculation', 'Date radiation', 'Statut', 'Geolocalisation',
       'Date de publication', 'Millesime 1', 'Date de cloture exercice 1',
       'Durée 1', 'CA 1', 'Résultat 1', 'Effectif 1', 'Millesime 2',
       'Date de cloture exercice 2', 'Durée 2', 'CA 2', 'Résultat 2',
       'Effectif 2', 'Millesime 3', 'Date de cloture exercice 3', 'Durée 3',
       'CA 3', 'Résultat 3', 'Effectif 3', 'fiche_identite',
       'tranche_ca_millesime_1', 'tranche_ca_millesime_2',
       'tranche_ca_millesime_3'],
      dtype='object')

### Import legal units from ADEME

In [33]:
societe = pd.read_csv('liste-societe.csv')

In [63]:
societe.rename(columns ={'legal_unit_id':'Siren'}, inplace=True)

In [64]:
societe

       assessment_id legal_unit_id_type           Siren
0                  1              SIREN       775709702
1                  2              SIREN        85480069
2                  3              SIREN       180600041
3                  7              SIREN       778596502
4                  8              SIREN       867800427
...              ...                ...             ...
13121           6577              SIREN       712058965
13122           6582              SIREN       200067205
13123           6582              SIRET  20006720500019
13124           6585              SIREN       262600141
13125           6592              SIREN       435480546

[13126 rows x 3 columns]

### Keep only observation with SIREN from ADEME

In [54]:
data_f = data.loc[data['Siren'].isin(societe['legal_unit_id'])]

In [72]:
data_f.describe()

,Nic,Code postal,Num. dept.,Code Greffe,Geolocalisation,Millesime 1,Durée 1,CA 1,Résultat 1,Effectif 1,Millesime 2,Durée 2,CA 2,Résultat 2,Effectif 2,Durée 3,CA 3,Résultat 3,Effectif 3
count,1461.000000,1459.00000,1459.000000,1458.000000,0.0,1458.0,1457.000000,1.356000e+03,1.365000e+03,1081.000000,1397.0,1394.000000,1.296000e+03,1.301000e+03,1.090000e+03,1350.000000,1.260000e+03,1.266000e+03,1029.000000
mean,660.828200,63942.65867,66.668951,6348.749657,NaN,2017.0,11.888813,6.434346e+08,3.115826e+07,1819.556892,2016.0,11.952654,6.661314e+08,3.005027e+07,1.971245e+04,11.940000,5.843562e+08,2.167329e+07,1511.763848
std,4275.240506,26925.41571,59.588317,2645.023966,NaN,0.0,1.184837,2.944898e+09,2.187597e+08,8322.614625,0.0,0.708311,3.021709e+09,1.982776e+08,2.947604e+05,0.894817,2.369440e+09,1.788563e+08,3672.103792
min,10.000000,1000.00000,1.000000,101.000000,NaN,2017.0,0.000000,0.000000e+00,-4.617467e+08,0.000000,2016.0,0.000000,-1.622935e+09,-5.205624e+08,0.000000e+00,1.000000,0.000000e+00,-1.233253e+09,0.000000
25%,20.000000,42000.00000,42.000000,4202.000000,NaN,2017.0,12.000000,5.426410e+07,3.561400e+04,444.000000,2016.0,12.000000,5.158546e+07,3.875700e+04,4.310000e+02,12.000000,5.054353e+07,3.204000e+04,404.000000
50%,49.000000,73000.00000,73.000000,7401.000000,NaN,2017.0,12.000000,1.607784e+08,2.959816e+06,703.000000,2016.0,12.000000,1.647134e+08,2.955454e+06,7.215000e+02,12.000000,1.546966e+08,2.402116e+06,704.000000
75%,205.000000,92000.00000,92.000000,8876.000000,NaN,2017.0,12.000000,4.083090e+08,1.445000e+07,1265.000000,2016.0,12.000000,4.183264e+08,1.437300e+07,1.355750e+03,12.000000,4.075766e+08,1.239947e+07,1316.000000
max,92805.000000,97450.00000,974.000000,9742.000000,NaN,2017.0,16.000000,5.740712e+10,6.634000e+09,191897.000000,2016.0,17.000000,5.178908e+10,5.517000e+09,7.906000e+06,20.000000,4.621124e+10,4.506000e+09,63569.000000

In [59]:
data_f.head(3)

,Dénomination,Siren,Nic,Forme Juridique,Code APE,Libellé APE,Adresse,Code postal,Ville,Num. dept.,...,Millesime 3,Date de cloture exercice 3,Durée 3,CA 3,Résultat 3,Effectif 3,fiche_identite,tranche_ca_millesime_1,tranche_ca_millesime_2,tranche_ca_millesime_3
1210,MAGNETI MARELLI FRANCE,652044827,200.0,Societe par actions simplifiee a associe unique,2651A,Fabrication d'equipements d'aide a la navigation,5 AVENUE ALBERT EINSTEIN,78190.0,TRAPPES,78.0,...,2015.0,2015-12-31,12.0,380038553.0,42897284.0,711.0,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M
2778,thyssenKrupp Ascenseurs,722024742,172.0,Societe par actions simplifiee a associe unique,4329B,Autres travaux d'installation n.c.a.,RUE DE CHAMPFLEUR,49001.0,ANGERS CEDEX 01,49.0,...,2015.0,2015-09-30,12.0,343689480.0,-45418860.0,2254.0,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M
3654,B.A.I. BRETAGNE ANGLETERRE IRLANDE,927250217,27.0,Societe anonyme a directoire et conseil de sur...,5010Z,Transports maritimes et cotiers de passagers,PORT DU BLOSCON,29680.0,ROSCOFF,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,NaN,NaN,NaN

In [56]:
data_f.isnull().sum()

Dénomination                     0
Siren                            0
Nic                              0
Forme Juridique                  0
Code APE                        21
Libellé APE                     21
Adresse                         21
Code postal                      2
Ville                            2
Num. dept.                       2
Département                     30
Région                          30
Code Greffe                      3
Greffe                           3
Date immatriculation             3
Date radiation                1461
Statut                           3
Geolocalisation               1461
Date de publication              3
Millesime 1                      3
Date de cloture exercice 1       3
Durée 1                          4
CA 1                           105
Résultat 1                      96
Effectif 1                     380
Millesime 2                     64
Date de cloture exercice 2      64
Durée 2                         67
CA 2                           165
Résultat 2                     160
Effectif 2                     371
Millesime 3                    110
Date de cloture exercice 3     110
Durée 3                        111
CA 3                           201
Résultat 3                     195
Effectif 3                     432
fiche_identite                   0
tranche_ca_millesime_1           4
tranche_ca_millesime_2           5
tranche_ca_millesime_3           6
dtype: int64

### Add assessment id

In [70]:
data_ = pd.merge(data_f, societe, how='inner', on='Siren')

In [71]:
data_

,Dénomination,Siren,Nic,Forme Juridique,Code APE,Libellé APE,Adresse,Code postal,Ville,Num. dept.,...,Durée 3,CA 3,Résultat 3,Effectif 3,fiche_identite,tranche_ca_millesime_1,tranche_ca_millesime_2,tranche_ca_millesime_3,assessment_id,legal_unit_id_type
0,MAGNETI MARELLI FRANCE,652044827,200.0,Societe par actions simplifiee a associe unique,2651A,Fabrication d'equipements d'aide a la navigation,5 AVENUE ALBERT EINSTEIN,78190.0,TRAPPES,78.0,...,12.0,380038553.0,42897284.0,711.0,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,589,SIREN
1,MAGNETI MARELLI FRANCE,652044827,200.0,Societe par actions simplifiee a associe unique,2651A,Fabrication d'equipements d'aide a la navigation,5 AVENUE ALBERT EINSTEIN,78190.0,TRAPPES,78.0,...,12.0,380038553.0,42897284.0,711.0,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,1935,SIREN
2,MAGNETI MARELLI FRANCE,652044827,200.0,Societe par actions simplifiee a associe unique,2651A,Fabrication d'equipements d'aide a la navigation,5 AVENUE ALBERT EINSTEIN,78190.0,TRAPPES,78.0,...,12.0,380038553.0,42897284.0,711.0,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,2728,SIREN
3,thyssenKrupp Ascenseurs,722024742,172.0,Societe par actions simplifiee a associe unique,4329B,Autres travaux d'installation n.c.a.,RUE DE CHAMPFLEUR,49001.0,ANGERS CEDEX 01,49.0,...,12.0,343689480.0,-45418860.0,2254.0,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,3705,SIREN
4,B.A.I. BRETAGNE ANGLETERRE IRLANDE,927250217,27.0,Societe anonyme a directoire et conseil de sur...,5010Z,Transports maritimes et cotiers de passagers,PORT DU BLOSCON,29680.0,ROSCOFF,29.0,...,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,NaN,NaN,NaN,4365,SIREN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,VIESSMANN FAULQUEMONT,493385785,16.0,Societe par actions simplifiee,2752Z,Fabrication d'appareils menagers non electriques,AVENUE ANDRE GOUY,57380.0,FAULQUEMONT,57.0,...,12.0,104097168.0,6695985.0,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,652,SIREN
1932,VIESSMANN FAULQUEMONT,493385785,16.0,Societe par actions simplifiee,2752Z,Fabrication d'appareils menagers non electriques,AVENUE ANDRE GOUY,57380.0,FAULQUEMONT,57.0,...,12.0,104097168.0,6695985.0,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,5577,SIREN
1933,PAPREC GROUP,489455360,52.0,Societe par actions simplifiee,7010Z,Activites des sieges sociaux,7 RUE DU DOCTEUR LANCEREAUX,75008.0,PARIS,75.0,...,12.0,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,6518,SIREN
1934,FRANCE TRANSFO,357801109,20.0,Societe par actions simplifiee,2711Z,"Fabrication de moteurs, generatrices et transf...",PONT DE SEMECOURT,57280.0,MAIZIERES LES METZ,57.0,...,12.0,134346847.0,-12695361.0,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,533,SIREN
1935,FRANS BONHOMME,383706397,49.0,Societe par actions simplifiee,4673A,Commerce de gros (comm. interent.) de bois et ...,3 RUE DENIS PAPIN,37300.0,JOUE LES TOURS,37.0,...,12.0,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M,4356,SIREN

### import ADEME database

In [73]:
bilan = pd.read_csv('bilans-ges.csv').rename(columns={'id':'assessment_id'})

In [74]:
bilan

,assessment_id,organization_name,organization_description,organization_type,collectivity_type,staff,population,consolidation_method,reporting_year,total_scope_1,total_scope_2,total_scope_3,reference_year,action_plan,reductions_scope_1_2,reductions_scope_1,reductions_scope_2,reductions_scope_3,is_draft,source_url
0,1,Mutuelle d’Assurance des Instituteurs de France,Mutuelle d’assurance,Entreprise,NaN,6848.0,NaN,Opérationnel,2011,6017,2170,59931,NaN,Oui,NaN,NaN,NaN,NaN,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
1,2,ADIDAS France,ADIDAS France est une entreprise de distributi...,Entreprise,NaN,768.0,NaN,Opérationnel,2011,"786,19","516,26","1164,09",NaN,Oui,NaN,NaN,NaN,NaN,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
2,3,CROUS Nice-Toulon,Les activités gérées par le CROUS de Nice-Toul...,Etablissement public,NaN,261.0,NaN,Opérationnel,2011,824,382,0,NaN,Oui,NaN,NaN,NaN,NaN,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
3,4,Fort de France,NaN,Collectivité territoriale (dont EPCI),Communes,3000.0,94000.0,NaN,2010,19811,0,48674,NaN,Oui,NaN,NaN,NaN,NaN,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
4,5,concarneau Cornouaille Agglomération,NaN,Collectivité territoriale (dont EPCI),Communes,102.0,49000.0,NaN,2011,"977,16","113,1",0,NaN,Non,NaN,NaN,NaN,NaN,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,6576,FRANCE HANDLING,"Assistance aux compagnies aériennes, stockage ...",Entreprise,NaN,887.0,NaN,Opérationnel,2018,4091,302,0,NaN,Oui,NaN,1295,361,302,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
3433,6577,SOCIETE DE FRET ET DE SERVICES,"Assistance aux compagnies aériennes, stockage ...",Entreprise,NaN,621.0,NaN,Opérationnel,2018,2631,195,0,NaN,Oui,NaN,1598,914,195,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
3434,6582,Communauté d'agglomération du Cotentin,NaN,Collectivité territoriale (dont EPCI),Communauté d'agglomération,875.0,185000.0,NaN,2019,"10666,6",1280,0,NaN,Oui,NaN,NaN,NaN,NaN,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
3435,6585,CENTRE HOSPITALIER DROME VIVARAIS,Le Centre Hospitalier Drome Vivarais est un ét...,Etablissement public,NaN,567.0,NaN,Opérationnel,2016,2925,170,0,NaN,Oui,896,NaN,NaN,NaN,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...
3436,6592,HM CLAUSE SA,"HM CLAUSE sélectionne, produit et commercialis...",Entreprise,NaN,570.0,NaN,Opérationnel,2019,"3778,44",948,0,NaN,Oui,90,NaN,NaN,NaN,Non,http://www.bilans-ges.ademe.fr/fr/bilanenligne...

### Add carbon emission info to shortlisted company

In [76]:
data_clean = pd.merge(data_, bilan, how='inner', on ='assessment_id')

In [77]:
data_clean.describe()

,Nic,Code postal,Num. dept.,Code Greffe,Geolocalisation,Millesime 1,Durée 1,CA 1,Résultat 1,Effectif 1,...,Effectif 2,Durée 3,CA 3,Résultat 3,Effectif 3,assessment_id,staff,population,reporting_year,reference_year
count,1936.000000,1934.000000,1934.000000,1933.000000,0.0,1933.0,1932.000000,1.791000e+03,1.806000e+03,1422.000000,...,1.440000e+03,1804.000000,1.686000e+03,1.693000e+03,1365.000000,1936.000000,1936.000000,2.000000e+00,1936.000000,776.000000
mean,677.340393,64504.926060,66.494312,6398.697879,NaN,2017.0,11.902174,7.586083e+08,3.578170e+07,1895.282700,...,2.029973e+04,11.943459,6.916078e+08,2.588022e+07,1652.221245,3120.153926,6309.688017,1.228366e+06,2016.599690,2012.381443
std,4237.279557,26715.359732,53.332229,2626.792508,NaN,0.0,1.100941,3.209818e+09,2.145382e+08,7907.781344,...,2.776556e+05,0.891269,2.661813e+09,1.784075e+08,4086.157702,1884.511585,18597.613396,1.580572e+06,2.048099,2.107159
min,10.000000,1000.000000,1.000000,101.000000,NaN,2017.0,0.000000,0.000000e+00,-4.617467e+08,0.000000,...,0.000000e+00,1.000000,0.000000e+00,-1.233253e+09,0.000000,2.000000,3.000000,1.107330e+05,2010.000000,2005.000000
25%,21.000000,42270.000000,42.000000,4401.000000,NaN,2017.0,12.000000,7.298016e+07,6.494550e+04,502.000000,...,4.952500e+02,12.000000,6.839807e+07,5.450900e+04,488.000000,1367.500000,687.750000,6.695498e+05,2015.000000,2011.000000
50%,53.000000,74000.000000,74.000000,7401.000000,NaN,2017.0,12.000000,1.899690e+08,3.809359e+06,739.000000,...,7.660000e+02,12.000000,1.867317e+08,3.058724e+06,759.000000,3282.500000,1206.500000,1.228366e+06,2017.000000,2011.000000
75%,226.000000,92000.000000,92.000000,9001.000000,NaN,2017.0,12.000000,4.703014e+08,1.724007e+07,1358.000000,...,1.461000e+03,12.000000,4.631139e+08,1.503318e+07,1405.000000,4677.250000,3354.500000,1.787183e+06,2018.000000,2014.000000
max,92805.000000,97450.000000,974.000000,9742.000000,NaN,2017.0,16.000000,5.740712e+10,6.634000e+09,191897.000000,...,7.906000e+06,20.000000,4.621124e+10,4.506000e+09,63569.000000,6592.000000,243379.000000,2.346000e+06,2021.000000,2020.000000